/* @tailwind directives removed in favor of CDN */

html, body {
  overscroll-behavior-y: none;
}

.no-scrollbar::-webkit-scrollbar { 
  display: none; 
}

.no-scrollbar { 
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

@supports (padding: env(safe-area-inset-bottom)) {
  .safe-area-bottom { 
    padding-bottom: env(safe-area-inset-bottom); 
  }
}